amqp==1.4.9
celery==3.1.26.post2
Django==2.2.21
django-celery==3.3.0
django-cors-headers==3.0.1
django-crispy-forms==1.7.2
django-db-reconnect==0.0.1
djangorestframework==3.9.2
PyMySQL
python-scrapyd-api==2.1.2
redis==3.2.1
requests==2.22.0
